[alias]
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    type = cat-file -t
    dump = cat-file -p
    unstage = reset HEAD --
    last = log -1 HEAD
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[user]
    name = Eduardo Enriquez (eduzen)
    email = eduardo.a.enriquez@gmail.com
[core]
    editor = vim
[pull]
    rebase = false
[merge]
    tool = vimdiff
[init]
    defaultBranch = main
[pager]
    branch = false
