*
.env

!.gitignore
!README.md
!AGENTS.md
!requirements.txt
!.editorconfig
!.pre-commit-config.yaml

!.github/
!.github/**

!.chezmoiignore.tmpl
!dot_zshrc
!dot_zprofile
!dot_aliases
!dot_aliases_private.tmpl
!dot_gitconfig
!dot_global.justfile
!dot_tmux.conf
!private_dot_env.tmpl

!dot_config/
!dot_config/**

!run_once_install-packages-darwin.sh.tmpl
!run_once_install-packages-linux.sh.tmpl
